.App{
  height: 90vh;
  width: 94vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  box-sizing: border-box;
}
body{
  background-color: #040714;
  color:  white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.outterCircle{
  background-color: black;
  --width: 78%;
  --height:94%;
  height: calc(var(--height) - 50%);
  width:calc(var(--width) - 4%);
  
  margin:60px auto;
  position: relative;
  border-radius: 50%;
  padding:2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  min-width:500px
}
/* @media only screen and (max-width:700px){
  .outterCircle{
  height:40%;
  }
} */
.innerCircle{
  position: absolute;
  background-color: green;
  height: 90%;
  width: 90%;
  border-radius:50%;
 display: flex;
 align-items: center;
}
.User{
  position: absolute;
  color: white;
  margin-top: 10px;
  height:fit-content;
  width: 100%;
}
.User div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: grey;
  padding:3px 0px;
  padding-left: 20px;
  width: 100px;
  border-radius: 10px;
}
/* .User:nth-child(2){
  left: 30%;
  top: -10%;
}
.User:nth-child(3){
  left: 30%;
  top: -10%;
}
.User:nth-child(4){
  left: 30%;
  top: -10%;
}
.User:nth-child(5){
  left: 30%;
  top: -10%;
}
.User:nth-child(6){
  left: 30%;
  top: -10%;
}
.User:nth-child(2){
  left: 30%;
  top: -10%;
} */
